    <!DOCTYPE html>

<html lang="en">
<head>

    <title>Health - Medical Website Template</title>
    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/custom-style.css">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">
            <img src="~/images/Preloadlogo.png" class="img-responsive" alt="" style="text-align:center;width:100px;height:100px;">
            <span class="spinner-rotate"></span>
        </div>
    </section>


    <!-- NEWS -->
    <section id="news" data-stellar-background-ratio="2.5" style="margin-top: 50px;">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <!-- SECTION TITLE -->
                    <div class="main-title text-center wow fadeInUp">
                        <h4> 最新消息 </h4><h5> News</h5>
                    </div>

                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s" style="margin-top:20px">

                        <img src="~/images/Osteoporosis.png" class="img-responsive" alt="">

                    </div>
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s" style="margin-top:20px">
                        <img src="~/images/osteoporosiscomparison.png" class="img-responsive" alt="" style="margin-top: 20px; border-radius: 10px 10px 10px 10px;">
                    </div>
                </div>
                    <div class="col-md-7 col-sm-6">
                        <div class="news-info news-thumb wow fadeInUp" data-wow-delay="0.4s" style="margin-top:20px">
                            <span>December 01, 2022</span>
                            <h3>骨質疏鬆預防及治療</h3>
                            <h4>一、簡介：</h4>
                            <p>
                                由於及早發現骨質疏鬆病，或是否為骨質疏鬆症的高危險群，是非常重要的。
                            </p>
                            <ol>
                                <li><p>首先可利用一套簡易的自我評估方法(一分鐘自我評量法)，如下表。</p></li>
                            </ol>
                            <img src="~/images/osteoporosischeck.png" class="img-responsive" alt="">
                            <ul>
                                <li><p>假設您評估後是黃色或紅色區塊，您罹患骨質疏鬆症的風險將會增加。</p></li>
                                <li><p>假設您評估後是綠色區塊，但具有上述骨質疏鬆症之危險因子，則罹患的風險會相對的提高。</p></li>
                            </ul>
                            <ol start="2">
                                <li><p>接著可用週邊型的骨質密度測量儀(如超音波式儀器)，做為初步篩檢之用。</p></li>
                                <li><p>最後須用中軸型的雙能量X-光吸光儀(DEXA)來確認。這是一種能測量骨質密度的X光攝影法，測量的過程完全無痛，病人只要平躺在一張類似於X光檢驗床的平台上，五到十分鐘內，機器就能掃瞄過全身。檢驗所使用的X光量很少，因此非常安全。</p></li>
                            </ol>

                            <h4>二、作用原理：</h4>
                            <p>
                                分為放射式及聚焦式兩種；</br>
                                將震波打入病灶處，讓病灶產生再次的發炎反應</br>
                                並藉由血管新生之作用，帶走發炎物質。
                            </p>
                            <h4>三、 適用對象：</h4>
                            <ol>
                                <li>
                                    <p>35歲以上健康人：2-3年，定期進行全身性檢查</p>
                                </li>
                                <li>
                                    <p>骨折預後：骨折後2年內，建議每6個月針對該部位進行檢查共4次。</p>
                                </li>
                                <li>
                                    <p>停經後婦女：確認停經後每年檢查一次，至少連續5年。</p>
                                </li>
                                <li>
                                    <p>超過50歲男性、家族具有骨質疏鬆症、肝硬化、長期抽煙喝酒的高危險群：每年進行全身性檢查一次</p>
                                </li>
                                <li>
                                    <p>骨質缺乏者（檢驗結果T-score值-1.0至-2.5之間） ：每年檢查一次，進行保養或早期治療。</p>
                                </li>
                                <li>
                                    <p>骨質疏鬆症者（檢驗結果T-score值低於-2.5以下） ：立即接受完整骨質骨密提昇治療，並每6個月檢查一次</p>
                                </li>
                            </ol>
                            <div class="author">
                                <img src="~/images/Funder.png" class="img-responsive" alt="">
                                <div class="author-info">
                                    <h5>Benjamin Chang</h5>
                                    <p>Director of the King's</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>


    <!-- SCRIPTS -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.sticky.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/custom.js"></script>



</body>
</html>