<!DOCTYPE html>

<html lang="en">
<head>

    <title>Health - Medical Website Template</title>
    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/custom-style.css">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">
            <img src="~/images/Preloadlogo.png" class="img-responsive" alt="" style="text-align:center;width:100px;height:100px;">
            <span class="spinner-rotate"></span>
        </div>
    </section>


    <!-- NEWS -->
    <section id="news" data-stellar-background-ratio="2.5" style="margin-top: 50px;">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <!-- SECTION TITLE -->
                    <div class="main-title text-center wow fadeInUp">
                        <h4> 醫療項目 </h4><h5> Service</h5>
                    </div>

                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s" style="margin: 100px 0px 0px 0px;">
                        <img src="~/images/PRP1.png" class="img-responsive" alt="" style="border-radius: 10px 10px 10px 10px;">
                    </div>
                    
                </div>
                <div class="col-md-7 col-sm-6">
                    <div class="news-info news-thumb wow fadeInUp" data-wow-delay="0.4s" style=" margin-top: 20px;">
                        <span>Febuary 16, 2023</span>
                        <h3>PRP注射治療</h3>
                        <h4>一、簡介：</h4>
                        <p>
                            PRP注射治療 (Platelet-Rich Plasma 富含血小板的血漿)是抽取患者的血液，再將抽取之血液送進離心機，分離後而生成的高濃度血小板血漿，由於血小板內富含各種生長因子，包含 FGF、PDGF、TGF-B、EGF、VEGF、IGF，我們會將其注射於患者發炎的部位，藉此降低軟骨細胞壞死的可能性、也能夠幫助患者從根源減緩患處之發炎與疼痛。
                            PRP為一種促進軟組織修復再生的非手術治療，時常運用於膝蓋復健、運動傷害等慢性傷害，
                        </p>
                        <h4>二、 可用於那些症狀(適應症)：</h4>
                            <ol style="color: #405545; font-size: 17px; font-weight: normal; line-height: 24px;">
                                <li>
                                    退化性關節炎
                                </li>
                                <li>
                                    足底筋膜炎
                                </li>
                                <li>
                                    媽媽手
                                </li>
                                <li>
                                    五十肩
                                </li>
                                <li>
                                    肘外上髁炎-網球肘
                                </li>
                                <li>
                                    肌腱發炎
                                </li>
                                <li>
                                    關節疼痛
                                </li>
                                <li>
                                    韌帶損傷
                                </li>
                                <li>
                                    肌腱發炎
                                </li>
                                <li>
                                    慢性傷口
                                </li>
                                <li>
                                    組織修復
                                </li>
                                <li>
                                    褥瘡
                                </li>
                            </ol>
                        <div class="author">
                            <img src="~/images/Funder.png" class="img-responsive" alt="">
                            <div class="author-info">
                                <h5>Benjamin Chang</h5>
                                <p>Director of the King's</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- SCRIPTS -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.sticky.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/custom.js"></script>



</body>
</html>