<!DOCTYPE html>

<html lang="en">
<head>

    <title>Health - Medical Website Template</title>
    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/custom-style.css">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">
            <img src="~/images/Preloadlogo.png" class="img-responsive" alt="" style="text-align:center;width:100px;height:100px;">
            <span class="spinner-rotate"></span>
        </div>
    </section>


    <!-- NEWS -->
    <section id="news" data-stellar-background-ratio="2.5" style="margin-top: 50px;">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <!-- SECTION TITLE -->
                    <div class="main-title text-center wow fadeInUp">
                        <h4> 最新消息 </h4><h5> News</h5>
                    </div>

                </div>

                
                    <!-- NEWS THUMB -->
                   
                
                <div class="col-md-11 col-sm-6">
                    <div class="news-info news-thumb wow fadeInUp" data-wow-delay="0.4s" style="margin: 0px 0px 0px 50px;">
                        <span>December 01, 2022</span>
                        <h3>2023年光明診所門診時間</h3>
                        <h4>張光明&nbsp;院長</h4>
                        <p>門診時間表</p>
                        <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">

                            <img src="~/images/opemtime.png" class="img-responsive" alt="">


                        </div>
                        <div class="author">
                            <img src="~/images/Funder.png" class="img-responsive" alt="">
                            <div class="author-info">
                                <h5>Benjamin Chang</h5>
                                <p>Director of the King's</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- SCRIPTS -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.sticky.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/custom.js"></script>



</body>
</html>