<!DOCTYPE html>

<html lang="en">
<head>

    <title>Health - Medical Website Template</title>
    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/custom-style.css">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">
            <img src="~/images/Preloadlogo.png" class="img-responsive" alt="" style="text-align:center;width:100px;height:100px;">
            <span class="spinner-rotate"></span>
        </div>
    </section>


    <!-- NEWS -->
    <section id="news" data-stellar-background-ratio="2.5" style="margin-top: 50px;">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <!-- SECTION TITLE -->
                    <div class="main-title text-center wow fadeInUp">
                        <h4> 最新消息 </h4><h5> News</h5>
                    </div>

                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                        <a href="~/News/Index">
                            <img src="~/images/WESWTH.jpg" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <span>December 01, 2022</span>
                            <h3><a href="~/News/IndexESWT">體外震波治療好在哪?</br>原理、效果、注意事項說明</a></h3>
                            <p>本院使用來自德國WOLF聚焦型治療機，高階醫療工藝的代表。效率高、效果好，除了幫助止痛，更促進組織修復！</p>
                            <a href="~/News/IndexESWT" style="color:#405545">[Read more..]</a>
                            <div class="author">
                                <img src="~/images/Funder.png" class="img-responsive" alt="">
                                <div class="author-info">
                                    <h5>Benjamin Chang</h5>
                                    <p>Director of the King's</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
                        <a href="~/News/Index">
                            <img src="~/images/opemtime.png" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <span>January 1, 2023</span>
                            <h3><a href="~/News/IndexOT">2023年度</br>光明診所&nbsp;門診時間</a></h3>
                            <p>張光明&nbsp;院長</br>門診時間</p>
                            <p>請來電預約掛號，以免久候! <span class="phone-icon"><a href="tel:+886-2-28210197"><i class="fa fa-phone"></i>02-2821-0197</a></span></p>
                            <a href="~/News/IndexOT" style="color:#405545">[Read more..]</a>
                            <div class="author">
                                <img src="~/images/Funder.png" class="img-responsive" alt="">
                                <div class="author-info">
                                    <h5>Benjamin Chang</h5>
                                    <p>Director of the King's</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.8s">
                        <a href="~/News/Index">
                            <img src="~/images/Osteoporosis.png" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <span>January 01, 2023</span>
                            <h3><a href="~/News/IndexOSP">骨質疏鬆&nbsp;X&nbsp;預防醫學</a></h3>
                            <p>骨質疏鬆症，預防勝於治療!</p>
                            <p>飲食+運動，輕鬆遠離骨鬆</p>
                            <p>充足補鈣，骨本熊鈣粗</p>
                            <a href="~/News/IndexOSP" style="color:#405545">[Read more..]</a>
                            <div class="author">
                                <img src="~/images/Funder.png" class="img-responsive" alt="">
                                <div class="author-info">
                                    <h5>Benjamin Chang</h5>
                                    <p>Director of the King's</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- SCRIPTS -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.sticky.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/custom.js"></script>



</body>
</html>