<!DOCTYPE html>

<html lang="en">
<head>

    <title>Health - Medical Website Template</title>
    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/custom-style.css">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">
            <img src="~/images/Preloadlogo.png" class="img-responsive" alt="" style="text-align:center;width:100px;height:100px;">
            <span class="spinner-rotate"></span>
        </div>
    </section>


    <!-- NEWS -->
    <section id="news" data-stellar-background-ratio="2.5" style="margin-top: 50px;">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <!-- SECTION TITLE -->
                    <div class="main-title text-center wow fadeInUp">
                        <h4> 醫療項目 </h4><h5> Service</h5>
                    </div>

                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s" style="margin: 100px 0px 0px 0px;">
                        <img src="~/images/HA.jpg" class="img-responsive" alt="" style="border-radius: 10px 10px 10px 10px;">
                    </div>
                    
                </div>
                <div class="col-md-7 col-sm-6">
                    <div class="news-info news-thumb wow fadeInUp" data-wow-delay="0.4s" style=" margin-top: 20px;">
                        <span>Febuary 16, 2023</span>
                        <h3>玻尿酸注射治療</h3>
                        <h4>一、簡介：</h4>
                        <p>
                            玻尿酸注射治療 (Hyaluronic acid，HA)是一種關節保養劑直接注入退化的關節內，具有高度的保水性、黏彈性和潤滑作用，對關節軟骨有親和性，可覆蓋於軟骨表面保護軟骨，防止磨損及退化，抑制發炎反應，改善關節攣縮，增加關節活動度。
                            </br>
                            健保規範：
                            限經同一院所保守治療及一般藥物治療時間累計達6個月（含）以上均無效後，至未達需置換人工膝關節之標準且經診斷為退化性膝關節炎疼痛患者使用。玻尿酸依分子量大小差異而有不同的治療效果，該採取健保或自費玻尿酸可與醫師討論。
                        </p>
                        <h4>二、 可用於那些症狀(適應症)：</h4>
                            <ol style="color: #405545; font-size: 17px; font-weight: normal; line-height: 24px;">
                                <li>
                                    低中度關節退化
                                </li>
                                <li>
                                    關節軟骨受傷
                                </li>
                                <li>
                                    術後關節炎
                                </li>
                            </ol>
                        <div class="author">
                            <img src="~/images/Funder.png" class="img-responsive" alt="">
                            <div class="author-info">
                                <h5>Benjamin Chang</h5>
                                <p>Director of the King's</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- SCRIPTS -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.sticky.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/custom.js"></script>



</body>
</html>