<!DOCTYPE html>
<html lang="en">
<head>

    <title>Health - Medical Website Template</title>
    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>

    <!-- HOME -->
    <section id="home" class="slider" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="owl-carousel owl-theme">
                    <div class="item item-first">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3>Let's make your life happier</h3>
                                <h1>Healthy Living</h1>
                                <a href="#team" class="section-btn btn btn-default smoothScroll">Meet Our Doctors</a>
                            </div>
                        </div>
                    </div>

                    <div class="item item-second">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3>Aenean luctus lobortis tellus</h3>
                                <h1>New Lifestyle</h1>
                                <a href="#about" class="section-btn btn btn-default btn-gray smoothScroll">More About Us</a>
                            </div>
                        </div>
                    </div>

                    <div class="item item-third">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3>Pellentesque nec libero nisi</h3>
                                <h1>Your Health Benefits</h1>
                                <a href="#news" class="section-btn btn btn-default btn-blue smoothScroll">Read Stories</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- ABOUT -->
    <section id="about">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="about-info">
                        <h2 class="wow fadeInUp" data-wow-delay="0.4s">Welcome to <i class="fa fa-h-square"></i>光明診所</h2>
                        <div class="wow fadeInUp" data-wow-delay="0.6s">
                            <h3><i class="fa fa-hospital-o fa-2x"></i>&nbsp;&nbsp;本院門診</h3>
                            <ul class="about">

                                <li>
                                    <p class="about">骨科</p>
                                </li>
                                <li>
                                    <p class="about">外科</p>
                                </li>
                                <li>
                                    <p class="about">家庭醫學科</p>
                                </li>
                            </ul>
                        </div>
                        <figure class="profile wow fadeInUp" data-wow-delay="1s">
                            <img src="~/images/Fundercirclewhite.png" class="img-responsive" alt="">
                            <figcaption>
                                <h3>張光明 醫師</h3>
                                <p>&nbsp;&nbsp;院長 榮總專科醫師主治</p>
                                <ul>
                                    <li>
                                        <p class="about">體外震波疼痛治療</p>
                                    </li>
                                    <li>
                                        <p class="about">嚴重骨質疏鬆治療</p>
                                    </li>
                                    <li>
                                        <p class="about">復健治療</p>
                                    </li>
                                    <li>
                                        <p class="about">針灸電針疼痛治療</p>
                                    </li>
                                    <li>
                                        <p class="about">肩、膝玻尿酸注射</p>
                                    </li>
                                    <li>
                                        <p class="about">骨科術後骨頭保健</p>
                                    </li>
                                    <li>
                                        <p class="about">生化雷射淨血療法</p>
                                    </li>
                                    <li>
                                        <p class="about">癌症疼痛控制治療</p>
                                    </li>
                                    <li>
                                        <p class="about">塑身體雕中西療法</p>
                                    </li>
                                    <li>
                                        <p class="about">淡斑、美白、除毛</p>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- TEAM -->
    <section id="team" data-stellar-background-ratio="1">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="about-info">
                        <h2 class="wow fadeInUp" data-wow-delay="0.1s">醫師團隊</h2>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-4 col-sm-6">

                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                        <img src="~/images/Funder.jpg" class="img-responsive" alt="" style="text-align:center">
                        <hr id="line">
                        <div class="team-info">
                            <h3>張光明 醫師</h3>
                            <p>院長 榮總專科醫師主治</p>
                            <ul>
                                <li>
                                    <p>中華民國骨科專科醫師</p>
                                </li>
                                <li>
                                    <p>中華民國外科專科醫師</p>
                                </li>
                                <li>
                                    <p>中華民國家庭醫學科專科醫師</p>
                                </li>
                                <li>
                                    <p>中華民國骨質疏鬆症學會專科醫師</p>
                                </li>
                                <li>
                                    <p>中華民國美容醫學醫學會會員</p>
                                </li>
                                <li>
                                    <p>中華民國超音波專科醫師</p>
                                </li>
                                <li>
                                    <p>中華針灸醫學會專科醫師</p>
                                </li>
                                <li>
                                    <p>中西整合醫學會專科醫師</p>
                                </li>
                                <li>
                                    <p>振興醫院骨科部特約主治醫師</p>
                                </li>
                                <li>
                                    <p>台北榮民總醫院特約主治醫師</p>
                                </li>
                            </ul>
                            <div class="team-contact-info">
                                <p> <a href="tel:+886-2-28210197"><i class="fa fa-phone"></i>02-2821-0197</a></p>
                                <p> <a href="mailto:Kuang_C@hotmail.com"><i class="fa fa-envelope-o"></i>Kuang_C@hotmail.com</a></p>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                <li><a href="mailto:Kuang_C@hotmail.com" class="fa fa-envelope-o"></a></li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>


    <!-- NEWS -->
    <section id="news" data-stellar-background-ratio="2.5">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <!-- SECTION TITLE -->
                    <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>最新消息</h2>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                        <a href="~/News/Index">
                            <img src="~/images/news-image1.jpg" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <span>March 08, 2018</span>
                            <h3><a href="~/News/Index">About Amazing Technology</a></h3>
                            <p>Maecenas risus neque, placerat volutpat tempor ut, vehicula et felis.</p>
                            <div class="author">
                                <img src="~/images/author-image.jpg" class="img-responsive" alt="">
                                <div class="author-info">
                                    <h5>Jeremie Carlson</h5>
                                    <p>CEO / Founder</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
                        <a href="~/News/Index">
                            <img src="~/images/news-image2.jpg" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <span>February 20, 2018</span>
                            <h3><a href="~/News/Index">Introducing a new healing process</a></h3>
                            <p>Fusce vel sem finibus, rhoncus massa non, aliquam velit. Nam et est ligula.</p>
                            <div class="author">
                                <img src="~/images/author-image.jpg" class="img-responsive" alt="">
                                <div class="author-info">
                                    <h5>Jason Stewart</h5>
                                    <p>General Director</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.8s">
                        <a href="~/News/Index">
                            <img src="~/images/news-image3.jpg" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <span>January 27, 2018</span>
                            <h3><a href="~/News/Index">Review Annual Medical Research</a></h3>
                            <p>Vivamus non nulla semper diam cursus maximus. Pellentesque dignissim.</p>
                            <div class="author">
                                <img src="~/images/author-image.jpg" class="img-responsive" alt="">
                                <div class="author-info">
                                    <h5>Andrio Abero</h5>
                                    <p>Online Advertising</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- MAKE AN APPOINTMENT -->
    <section id="appointment" data-stellar-background-ratio="3">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <img src="~/images/appointment-image.jpg" class="img-responsive" alt="">
                </div>

                <div class="col-md-6 col-sm-6">
                    <!-- CONTACT FORM HERE -->
                    <form id="appointment-form" role="form" method="post" action="Index">

                        <!-- SECTION TITLE -->
                        <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                            <h2>預約掛號</h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.8s">
                            <div class="col-md-6 col-sm-6">
                                <label for="name">姓名</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label for="date">日期</label>
                                <input type="datetime-local" name="date" class="form-control">
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label for="select">門診項目</label>
                                <select class="form-control" name="program" id="program">
                                    <option value="骨科">骨科</option>
                                    <option value="外科">外科</option>
                                    <option value="家庭醫學科">家庭醫學科</option>
                                </select>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <label for="telephone">電話號碼</label>
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone">
                                <label for="Message">症狀概述</label>
                                <textarea class="form-control" rows="5" id="message" name="message" placeholder="Message"></textarea>
                                <button type="submit" class="form-control" id="cf-submit" name="submit">預約</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>







    <!-- SCRIPTS -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.sticky.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/custom.js"></script>


    
</body>
</html>