<!DOCTYPE html>
@model List<Kingclinic.Models.TreatmentSelection>

<html lang="en">
<head>

    <title>Health - Medical Website Template</title>
    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>






    <!-- MAKE AN APPOINTMENT -->
    <section id="appointment" data-stellar-background-ratio="3">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <!-- CONTACT FORM HERE -->
                    <form id="appointment-form" role="form" method="post" action="Index">

                        <!-- SECTION TITLE -->
                        <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                            <h2><i class="fa fa-hospital-o"></i> 退化性膝關節炎治療決策輔助系統</h2>
                            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OA knee Treatment Decision Support System</h2>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <h3>個人資料：</h3>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="select"><i class="fa fa-intersex"></i>性別：</label>
                            <select class="form-control" name="SEX">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="Age"><i class="fa fa-child"></i>年齡：</label>
                            <input type="text" class="form-control" id="Age" name="AGE" placeholder="Age">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="Weight"><i class='fas fa-weight'></i>體重(kg)：</label>
                            <input type="text" class="form-control" id="Weight" name="Weight" placeholder="kg">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="Height">身高(cm):</label>
                            <input type="text" class="form-control" id="Height" name="Height" placeholder="cm">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="select">退化性關節炎等級(K-L Scale Grade)：</label>
                            <select class="form-control" name="KLSCALE">
                                <option value="1">等級1(Grade 1)</option>
                                <option value="2">等級2(Grade 2)</option>
                                <option value="3">等級3(Grade 3)</option>
                                <option value="4">等級4(Grade 4)</option>
                            </select>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <h3>目標：</h3>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay="0.8s">
                            <div class="col-md-6 col-sm-6">
                                <label for="name">目標 1：最低可接受疼痛減輕的幅度</label>
                                <select class="form-control" name="GOAL1">
                                    <option value="0.4">40%</option>
                                    <option value="0.5">50%</option>
                                    <option value="0.6">60%</option>
                                    <option value="0.7">70%</option>
                                    <option value="0.8">80%</option>
                                </select>
                                @*<input type="text" class="form-control" id="name" name="name" placeholder="%">*@
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label for="email">目標 2：最低可接受功能進步的週數</label>
                                <select class="form-control" name="GOAL2">
                                    <option value="3">3週</option>
                                    <option value="6">6週</option>
                                    <option value="12">12週</option>
                                    <option value="26">26週</option>
                                    <option value="36">36週</option>
                                    <option value="48">48週</option>
                                    <option value="52">52週</option>
                                </select>
                                @*<input type="email" class="form-control" id="email" name="email" placeholder="Week">*@
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label for="date">目標 3：最高可接受的治療費用</label>
                                <select class="form-control" name="GOAL3">
                                    <option value="1">10,000</option>
                                    <option value="0.8">20,000</option>
                                    <option value="0.72">30,000</option>
                                    <option value="0.56">40,000</option>
                                    <option value="0.4">50,000</option>
                                    <option value="0.2">100,000</option>
                                </select>
                                @*<input type="date" name="date" value="" class="form-control">*@
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label for="select">目標 4：最高可接受傷口感染的風險</label>
                                <select class="form-control" name="GOAL4">
                                    <option value="0">0%</option>
                                    <option value="1.5">1.5%</option>
                                    <option value="2">2%</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="select">目標 5：最久可接受的治療時間</label>
                                <select class="form-control" name="GOAL5">
                                    <option value="3">3個月</option>
                                    <option value="6">6個月</option>
                                    <option value="9">9個月</option>
                                    <option value="12">12個月</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="select">目標 6：最低可接受是非手術療法的可能</label>
                                <select class="form-control" name="GOAL6">
                                    <option value="0">0%</option>
                                    <option value="25">25%</option>
                                    <option value="50">50%</option>
                                    <option value="70">70%</option>
                                    <option value="100">100%</option>
                                </select>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <h3>約束：</h3>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="quality">提升生活品質的幅度：</label>
                                <input type="text" class="form-control" id="quality" name="quality" placeholder="%">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="work">可以回原工作職場的週數：</label>
                                <input type="text" class="form-control" id="work" name="work" placeholder="週數">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="Risk of anesthesia">可承受麻醉風險的幅度：</label>
                                <input type="text" class="form-control" id="Risk of anesthesia" name="Risk of anesthesia" placeholder="%">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="Reoperation">可承受再次手術的可能：</label>
                                <input type="text" class="form-control" id="Reoperation" name="Reoperation" placeholder="%">
                            </div>
                            
                            <div class="col-md-12 col-sm-12">
                                @*<label for="telephone">電話號碼</label>*@
                                @*<input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone">*@
                                @*<label for="Message">症狀概述</label>*@
                                @*<textarea class="form-control" rows="5" id="message" name="message" placeholder="Message"></textarea>*@
                                <button type="submit" class="form-control" id="cf-submit" name="Submit" onclick="Submit_click">送出</button>
                            </div>

                        </div>
                    </form>
                </div>

                @*<div class="col-md-12 col-sm-12" style="text-align:center">*@
                @*<img src="~/images/KLSCALE.png" class="img-responsive" alt="" style="margin:auto">*@
                @*<p>(Source: LNMIA 10358, pp. 376)</p>*@
                @*</div>  *@


            </div>
        </div>
    </section>


    <!-- GOOGLE MAP -->
    @*<section id="google-map">*@
    <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
    -->
    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14450.047860563986!2d121.50801568501845!3d25.118376644183186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ae8b74ca5835%3A0x552f01f3164e7850!2z5YWJ5piO6Ki65omA!5e0!3m2!1szh-TW!2stw!4v1658202721874!5m2!1szh-TW!2stw" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>*@
    @*</section>*@


    <!-- SCRIPTS -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.sticky.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            $('#College').change(function() { ChangeCollege(); });
        });

        function submit() {
            //取值
            var SEX = $('#SEX').val();
            var AGE = $('#AGE').val();
            var WEIGHT = $('#WEIGHT').val();
            var HEIGHT = $('#HEIGHT').val();
            var KLSCALE = $('#KLSCALE').val();
            var GOAL1 = $('#GOAL1').val();
            var GOAL2 = $('#GOAL2').val();
            var GOAL3 = $('#GOAL3').val();
            var GOAL4 = $('#GOAL4').val();
            var GOAL5 = $('#GOAL5').val();
            var GOAL6 = $('#GOAL6').val();
        
            $.ajax({
                url: '@Url.Action("SAVE","Controller")',
                data: { college: college },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function(data) {

                    
                }
            });
        }

    </script>
</body>
</html>