<!DOCTYPE html>
<html lang="en">
<head>

    <title>Health - Medical Website Template</title>
    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>






    <!-- MAKE AN APPOINTMENT -->
    <section id="appointment" data-stellar-background-ratio="3">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <!-- CONTACT FORM HERE -->
                    <form id="appointment-form" role="form" method="post" action="#">

                        <!-- SECTION TITLE -->
                        <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                            <h2><i class="fa fa-hospital-o"></i> OA knee Treatment Decision Aid</h2>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <h3>Informations:</h3>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="select"><i class="fa fa-intersex"></i>Sex:</label>
                            <select class="form-control">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="Age"><i class="fa fa-child"></i>Age:</label>
                            <input type="text" class="form-control" id="Age" name="Age" placeholder="Age">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="Weight"><i class='fas fa-weight'></i>Weight(kg):</label>
                            <input type="text" class="form-control" id="Weight" name="Weight" placeholder="Weight">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="Height">Height(cm):</label>
                            <input type="text" class="form-control" id="Height" name="Height" placeholder="Height">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="select">K-L Scale Grade:</label>
                            <select class="form-control">
                                <option>Grade 1</option>
                                <option>Grade 2</option>
                                <option>Grade 3</option>
                                <option>Grade 4</option>
                            </select>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <h3>Goals:</h3>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay="0.8s">
                            <div class="col-md-6 col-sm-6">
                                <label for="name">Goal 1:Max release of pain</label>
                                <select class="form-control">
                                    <option>40%</option>
                                    <option>50%</option>
                                    <option>60%</option>
                                    <option>70%</option>
                                    <option>80%</option>
                                </select>
                                @*<input type="text" class="form-control" id="name" name="name" placeholder="%">*@
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label for="email">Goal 2:Max function improvement</label>
                                <select class="form-control">
                                    <option>3 weeks</option>
                                    <option>6 weeks</option>
                                    <option>12 weeks</option>
                                    <option>26 weeks</option>
                                    <option>36 weeks</option>
                                    <option>48 weeks</option>
                                    <option>52 weeks</option>
                                </select>
                                @*<input type="email" class="form-control" id="email" name="email" placeholder="Week">*@
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label for="date">Goal 3:Min partial reimbursement</label>
                                <select class="form-control">
                                    <option>10,000</option>
                                    <option>20,000</option>
                                    <option>30,000</option>
                                    <option>40,000</option>
                                    <option>50,000</option>
                                    <option>100,000</option>
                                </select>
                                @*<input type="date" name="date" value="" class="form-control">*@
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label for="select">Goal 4:Min wound infection</label>
                                <select class="form-control">
                                    <option>0%</option>
                                    <option>1.5%</option>
                                    <option>2%</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="select">Goal 5:Min within three months</label>
                                <select class="form-control">
                                    <option>3 monthes</option>
                                    <option>6 monthes</option>
                                    <option>9 monthes</option>
                                    <option>12 monthes</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="select">Goal 6:Max non-surgery</label>
                                <select class="form-control">
                                    <option>0%</option>
                                    <option>25%</option>
                                    <option>50%</option>
                                    <option>70%</option>
                                    <option>100%</option>
                                </select>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <h3>Constrains:</h3>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="quality">Improve the quality of life:</label>
                                <input type="text" class="form-control" id="quality" name="quality" placeholder="%">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="work">Return to work:</label>
                                <input type="text" class="form-control" id="work" name="work" placeholder="Days">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="Risk of anesthesia">Risk of anesthesia:</label>
                                <input type="text" class="form-control" id="Risk of anesthesia" name="Risk of anesthesia" placeholder="%">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="Reoperation">Reoperation:</label>
                                <input type="text" class="form-control" id="Reoperation" name="Reoperation" placeholder="%">
                            </div>
                            <div class="col-md-12 col-sm-12">
                                @*<label for="telephone">電話號碼</label>*@
                                @*<input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone">*@
                                @*<label for="Message">症狀概述</label>*@
                                @*<textarea class="form-control" rows="5" id="message" name="message" placeholder="Message"></textarea>*@
                                <button type="submit" class="form-control" id="cf-submit" name="submit">Submit</button>
                                
                            </div>

                        </div>
                    </form>
                </div>

                @*<div class="col-md-12 col-sm-12" style="text-align:center">*@
                @*<img src="~/images/KLSCALE.png" class="img-responsive" alt="" style="margin:auto">*@
                @*<p>(Source: LNMIA 10358, pp. 376)</p>*@
                @*</div>  *@


            </div>
        </div>
    </section>


    <!-- GOOGLE MAP -->
    @*<section id="google-map">*@
    <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
    -->
      @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14450.047860563986!2d121.50801568501845!3d25.118376644183186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ae8b74ca5835%3A0x552f01f3164e7850!2z5YWJ5piO6Ki65omA!5e0!3m2!1szh-TW!2stw!4v1658202721874!5m2!1szh-TW!2stw" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>*@
    @*</section>*@


    <!-- SCRIPTS -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.sticky.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/custom.js"></script>

</body>
</html>