@{
    Layout = "~/Views/Shared/_LayoutWanHua.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/custom-style.css">





    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">
            @*<img src="~/images/Preloadlogo.png" class="img-responsive" alt="" style="text-align:center;width:100px;height:100px;">*@
            <span class="spinner-rotate">
                <img src="~/images/Preloadlogo.png" class="img-responsive" alt="" style="text-align:center;width:100px;height:100px;">
            </span>
        </div>
    </section>

    <!-- HOME -->
    <section id="home" class="slider" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="owl-carousel owl-theme">
                    <div class="item item-first">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3 style="font-family: PoiretOne-Regular;">光明診所 健保特約中醫診所</h3>
                                <h1 class="wow fadeInUp" style="font-family: PoiretOne-Regular;" data-wow-delay="0.1s">King's Clinic</h1>
                                <a href="~/Team/Index" class="section-btn btn btn-default smoothScroll">Meet Our Doctors</a>
                            </div>
                        </div>
                    </div>

                    <div class="item item-second">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3 style="font-family: PoiretOne-Regular;">專業中醫、細心呵護、安心信任</h3>
                                <h1 class="wow fadeInUp" style="font-family: PoiretOne-Regular;" data-wow-delay="0.1s">Profession Care Trust</h1>
                                <a href="~/About/Index" class="section-btn btn btn-default btn-gray smoothScroll">More About Us</a>
                            </div>
                        </div>
                    </div>

                    <div class="item item-third">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3 style="font-family: PoiretOne-Regular;">高品質醫療服務，解決您各種疼痛問題</h3>
                                <h1 class="wow fadeInUp" style="font-family: PoiretOne-Regular;" data-wow-delay="0.1s">High Quality Care</h1>
                                <a href="~/News/Index" class="section-btn btn btn-default btn-blue smoothScroll">Read Stories</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- ABOUT -->
    @*<section id="about" data-stellar-background-ratio="0.75">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <div class="about-info main-title">
                            <h4 class="wow fadeInUp" data-wow-delay="0.1s">Welcome to <i class="fa fa-h-square"></i>光明診所</h4><h5 class="wow fadeInUp" data-wow-delay="0.1s">About King's Clinic</h5>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="about-info">

                            <div class="wow fadeInUp" data-wow-delay="0.6s">
                                <h3 style="color:#9CC93A"><i class="fa fa-hospital-o fa-2x"></i>&nbsp;&nbsp;本院門診</h3>
                                <ul class="about">

                                    <li>
                                        <p class="about">骨科</p>
                                    </li>
                                    <li>
                                        <p class="about">外科</p>
                                    </li>
                                    <li>
                                        <p class="about">家庭醫學科</p>
                                    </li>
                                </ul>
                            </div>
                            <figure class="profile wow fadeInUp" data-wow-delay="1s">
                                <img src="~/images/Funder.png" class="img-responsive" alt="">
                                <figcaption>
                                    <h3>張光明 醫師</h3>
                                    <p>&nbsp;&nbsp;院長 榮總專科醫師主治</p>
                                    <ul>
                                        <li>
                                            <p class="about">體外震波疼痛治療</p>
                                        </li>
                                        <li>
                                            <p class="about">嚴重骨質疏鬆治療</p>
                                        </li>
                                        <li>
                                            <p class="about">復健治療</p>
                                        </li>
                                        <li>
                                            <p class="about">針灸電針疼痛治療</p>
                                        </li>
                                        <li>
                                            <p class="about">肩、膝玻尿酸注射</p>
                                        </li>
                                        <li>
                                            <p class="about">骨科術後骨頭保健</p>
                                        </li>
                                        <li>
                                            <p class="about">生化雷射淨血療法</p>
                                        </li>
                                        <li>
                                            <p class="about">癌症疼痛控制治療</p>
                                        </li>
                                        <li>
                                            <p class="about">塑身體雕中西療法</p>
                                        </li>
                                        <li>
                                            <p class="about">淡斑、美白、除毛</p>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                </div>
            </div>
        </section>*@
    <section id="AboutArea" class="wn__newsletter__area newsletter--bg">
        <div class="container">
            <div class="main-title text-center" style="margin-top:50px;">
                <h4>關於光明診所</h4>
                <h5> About King's Clinic </h5>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 text-center wow fadeInUp" data-wow-delay="0.2s">
                    <img src="~/images/healthcare.png" class="img-responsive" alt="" style="text-align:center">
                    <h4 class="bar-title">溫暖用心</h4>
                    <div class="description">
                        <p></p>
                        <h4>在萬華像家一樣的診所</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 text-center wow fadeInUp" data-wow-delay="0.4s">
                    <img src="~/images/WESWT-1.png" class="img-responsive" alt="" style="text-align:center">
                    <h4 class="bar-title">值得信賴</h4>
                    <div class="description">
                        <p></p>
                        <h4>高品質專業的醫療</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 text-center wow fadeInUp" data-wow-delay="0.6s">
                    <i class="fa fa-user-md fa-5x"></i>
                    <h4 class="bar-title">耐心親切</h4>
                    <div class="description">
                        <p></p>
                        <h4>健康生活由光明點亮</h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TEAM -->
    @*<section id="MainDoctorArea" class="wn__newsletter__area newsletter--bg">
                <div class="container-fluid">
                    <div class="main-title text-center">
                        <h4> 院長介紹 </h4><h5> Dr.Chang </h5>
                    </div>
                    <div class="row">
                        <div class="doc-pic text-center col-xl-7 col-lg-6 col-md-12">
                            <img data-src="" alt="院長介紹" title="院長介紹" class="loaded" src="~/images/Fundercirclewhite1.png" data-was-processed="true">
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-12">
                            <div class="maindoc-text">
                                <h4> 光明診所院長 </h4>
                                <h5> 張光明 <span>醫師</span></h5>
                                <div class="maindoc-box mb-3">
                                    <h5>治療項目：</h5>骨外科、體外震波、家庭醫學、骨質疏鬆、專科治療
                                </div>
                                <div class="maindoc-box">
                                    <h5>學經歷：</h5>
                                    <ul>
                                        <li>
                                            中華民國骨科專科醫師
                                        </li>
                                        <li>
                                            中華民國外科專科醫師
                                        </li>
                                        <li>
                                            中華民國家庭醫學科專科醫師
                                        </li>
                                        <li>
                                            中華民國骨質疏鬆症學會專科醫師
                                        </li>
                                        <li>
                                            中華民國美容醫學醫學會會員
                                        </li>
                                        <li>
                                            中華民國超音波專科醫師
                                        </li>
                                        <li>
                                            中華針灸醫學會專科醫師
                                        </li>
                                        <li>
                                            中西整合醫學會專科醫師
                                        </li>
                                        <li>
                                            振興醫院骨科部特約主治醫師
                                        </li>
                                        <li>
                                            台北榮民總醫院特約主治醫師
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary" href="/doctor"> More </a>
                    </div>
                </div>
        </section>*@
    <section id="team" data-stellar-background-ratio="1">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12 text-center">
                    <div class="about-info main-title">
                        <h4 class="wow fadeInUp" data-wow-delay="0.1s">院長介紹</h4><h5 class="wow fadeInUp" data-wow-delay="0.1s">Dr.Chang</h5>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="doc-pic text-center col-md-4 col-sm-6">

                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                        <img src="~/images/Funder.png" class="img-responsive" alt="" style="text-align:center">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="maindoc-text">
                        <h4>光明診所院長</h4>
                        <h5>張光明 <span>醫師 榮總專科醫師主治</span></h5>


                        <div class="col-md-5 col-sm-4 maindoc-box mb-3">
                            <h5>治療項目：</h5><p>退化性關節炎、骨質疏鬆<br />骨科復健、家庭醫學、運動傷害</p>
                        </div>
                        <div class="col-md-7 col-sm-4 maindoc-box mb-3">
                            <h5>專長：</h5><p>聚焦式體外震波、PRP再生醫學<br />玻尿酸注射、復健治療</p>
                        </div>
                        <div class="col-md-5 col-sm-4 maindoc-box">
                            <h5>現職：</h5>
                            <ul>
                                <li>
                                    光明診所 院長
                                </li>
                                <li>
                                    台北榮民總醫院特約主治醫師
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-7 col-sm-4 maindoc-box">
                            <h5>學經歷：</h5>
                            <ul>
                                <li>
                                    中華民國骨科專科醫師
                                </li>
                                <li>
                                    中華民國外科專科醫師
                                </li>
                                <li>
                                    中華民國家庭醫學科專科醫師
                                </li>
                                <li>
                                    中華民國骨質疏鬆症學會專科醫師
                                </li>
                                <li>
                                    中華民國美容醫學醫學會專科醫師
                                </li>
                                <li>
                                    中華民國超音波專科醫師
                                </li>
                                <li>
                                    中華針灸醫學會專科醫師
                                </li>
                                <li>
                                    中西整合醫學會專科醫師
                                </li>
                                <li>
                                    振興醫院骨科部特約主治醫師
                                </li>
                            </ul>
                        </div>
                        @*<div class="team-contact-info">
                                <p> <a href="tel:+886-2-28210197"><i class="fa fa-phone"></i>02-2821-0197</a></p>
                                <p> <a href="mailto:Kuang_C@hotmail.com"><i class="fa fa-envelope-o"></i>Kuang_C@hotmail.com</a></p>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                <li><a href="mailto:Kuang_C@hotmail.com" class="fa fa-envelope-o"></a></li>
                            </ul>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="team-contact-info">
        </div>
    </section>

    <section id="ServiceArea" data-stellar-background-ratio="2">
        <div class="container">
            <div class="main-title text-center">
                <h4 class="wow fadeInUp" data-wow-delay="0.1s"> 醫療項目 </h4><h5 class="wow fadeInUp" data-wow-delay="0.1s"> Service </h5>
            </div>
            <div class="row" style="margin-right:10px;margin-left:10px;">
                <div class="col-md-4 col-sm-6 service-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="service-pic">
                        <div class="text-center">
                            <img data-src="/images/WESWT.png" alt="體外震波治療" title="體外震波治療" class="initial loaded" src="~/images/WESWT.png" data-was-processed="true">
                        </div>
                    </div>
                    <a href="~/News/IndexESWT">
                        <div class="service-text">
                            <h4 class="text-center"> ESWT<br>聚焦式體外震波治療 </h4>
                            <div class="maindoc-box">
                                <ul>
                                    <li>非侵入性、免服藥打針、免吃藥、免麻醉、免開刀、無放射性的治療方式</li>
                                    <li>緩解疼痛症狀、抗發炎，改善生活品質，促使組織代謝循環、微血管增生，達到組織再生及修復的功能</li>
                                    <li>適應症：肩部鈣化性肌腱炎、網球肘、足底筋膜炎等沾黏勞損組織、以及長年累積傷病、運動及工作傷害、及骨折不癒合及骨壞死</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 service-box wow fadeInUp" data-wow-delay="0.6s">
                    <div class="service-pic">
                        <div class="text-center">
                            <img data-src="/images/PRP.png" alt="PRP再生治療" title="PRP再生治療" class="initial loaded" src="~/images/PRP.png" data-was-processed="true">
                        </div>
                    </div>
                    <a href="~/News/IndexPRP">
                        <div class="service-text">
                            <h4 class="text-center">PRP<br>再生醫學治療</h4>
                            <div class="maindoc-box">
                                <ul>
                                    <li>PRP 全名叫 Platelet-Rich Plasma （富含血小板的血漿)</li>
                                    <li>血小板內富含各種生長因子，包含 FGF、PDGF、TGF-B、EGF、VEGF、IGF</li>
                                    <li>施打在受傷的部位，促進軟組織修復再生，從根源解決各種肌骨退化疼痛問題</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 service-box wow fadeInUp" data-wow-delay="0.8s">
                    <div class="service-pic">
                        <div class="text-center">
                            <img data-src="/images/HAinject.png" alt="玻尿酸注射治療" title="玻尿酸注射治療" class="initial loaded" src="~/images/HAinject.png" data-was-processed="true">
                        </div>
                    </div>
                    <a href="~/News/IndexHA">
                        <div class="service-text">
                            <h4 class="text-center">H/A<br>玻尿酸注射治療 </h4>
                            <div class="maindoc-box">
                                <ul>
                                    <li>「玻尿酸」(Sodium hyaluronate)是一種關節保養劑直接注入退化的關節內</li>
                                    <li>具有高度的保水性、黏彈性和潤滑作用</li>
                                    <li>對關節軟骨有親和性，可覆蓋於軟骨表面保護軟骨，防止磨損及退化</li>
                                    <li>抑制發炎反應，改善關節攣縮，增加關節活動度</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </section>

    <!-- NEWS -->
    <section id="news" data-stellar-background-ratio="2.5">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <!-- SECTION TITLE -->
                    <div class="main-title text-center wow fadeInUp">
                        <h4> 最新消息 </h4><h5> News</h5>
                    </div>

                </div>

                <div class="col-md-4 col-sm-6" style="margin-top:10px;">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                        <a href="~/News/Index">
                            <img src="~/images/WESWTH.jpg" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <span>December 01, 2022</span>
                            <h3><a href="~/News/IndexESWT">體外震波治療好在哪?</br>原理、效果、注意事項說明</a></h3>
                            <p>本院使用來自德國WOLF聚焦型治療機，高階醫療工藝的代表。效率高、效果好，除了幫助止痛，更促進組織修復！</p>
                            <a href="~/News/IndexESWT" style="color:#405545">[Read more..]</a>
                            <div class="author">
                                <img src="~/images/Funder.png" class="img-responsive" alt="">
                                <div class="author-info">
                                    <h5>Benjamin Chang</h5>
                                    <p>Director of the King's</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6" style="margin-top:10px;">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
                        <a href="~/News/Index">
                            <img src="~/images/opemtime.png" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <span>January 1, 2023</span>
                            <h3><a href="~/News/IndexOT">2023年度光明診所門診時間</a></h3>
                            <p>張光明&nbsp;院長</br>門診時間</p>
                            <p>請來電預約掛號，以免久候! <span class="phone-icon"><a href="tel:+886-2-28210197"><i class="fa fa-phone"></i>02-2821-0197</a></span></p>
                            <a href="~/News/IndexOT" style="color:#405545">[Read more..]</a>
                            <div class="author">
                                <img src="~/images/Funder.png" class="img-responsive" alt="">
                                <div class="author-info">
                                    <h5>Benjamin Chang</h5>
                                    <p>Director of the King's</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6" style="margin-top:10px;">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.8s">
                        <a href="~/News/Index">
                            <img src="~/images/Osteoporosis.png" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <span>January 01, 2023</span>
                            <h3><a href="~/News/IndexOSP">骨質疏鬆&nbsp;X&nbsp;預防醫學</a></h3>
                            <p>骨質疏鬆症，預防勝於治療!</p>
                            <p>飲食+運動，輕鬆遠離骨鬆</p>
                            <p>充足補鈣，骨本熊鈣粗</p>
                            <a href="~/News/IndexOSP" style="color:#405545">[Read more..]</a>
                            <div class="author">
                                <img src="~/images/Funder.png" class="img-responsive" alt="">
                                <div class="author-info">
                                    <h5>Benjamin Chang</h5>
                                    <p>Director of the King's</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>










    <!-- SCRIPTS -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.sticky.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/custom.js"></script>



</body>
</html>